* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.box {
    width: 250px;
    height: 200px;
    color: black;
    background-color: #fffacd;
}

/* .textbox {
    width: 250px;
    height: 250px;
} */


 /* .box-highlight {
    color: black;
    background-color: #fffacd;
} */

/* .font {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
} */

/* #contact {
    color: antiquewhite;
    background-color: cadetblue;
}

#fb {
    font-weight: bold;
}

#fs {
    font-size: 24px;
}

#line-height {
    line-height: 50px;
} */

/* .contact-display {
    display: flex;
    flex-direction: column;
    border: 2px salmon;
    background-color: bisque;
    padding: 10px;
    width: 250px;
} */

.section-display {
    display: flex;
    flex-direction: column;
    border: 5px  saddlebrown;
    background-color: seashell;
    padding: 5px;
    width: 250px;
}

.position {
    position: relative;
    top: 20px;
    left: 250px;
}